<div>
  <ul>
    <li><b>Id: </b>{{userModel.id}}</li>
    <li><b>Login: </b>{{userModel.login}}</li>
    <li><b>Type: </b>{{userModel.type}}</li>
    <li><b>Url: </b>{{userModel.url}}</li>
    <li><b>avatar url: </b>{{userModel.avatar_url}}</li>
    <li><b>events_url: </b>{{userModel.events_url}}</li>
    <li><b>followers_url: </b>{{userModel.followers_url}}</li>
    <li><b>gists_url: </b>{{userModel.gists_url}}</li>
    <li><b>html_url: </b>{{userModel.html_url}}</li>
    <li><b>node_id : </b>{{userModel.node_id}}</li>
  </ul>
</div>


