.user-table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30%;
}
.user-table td, user-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.user-table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #808080;
  color: white;
  text-align: center;
}
.body-div{
  margin-left: 10px;
}
