

<div class="topnav" id="myTopnav">
  <a routerLink="/" ><h4>Github Trending</h4></a>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/top-user" routerLinkActive="active">Top user</a>
  <a routerLink="/top-repository" routerLinkActive="active">Top Repository</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
</div>


<div style="padding-bottom: 60px;">

  <router-outlet></router-outlet>
</div>

<footer>
  <div>
    <p>Mahadi Hasan</p><br/>
    <p>mahadih384@gmail.com</p>
  </div>
</footer>
