
<div>
  <ul>
    <li><b>Id: </b>{{repositoryModel.id}}</li>
    <li><b>Name: </b>{{repositoryModel.name}}</li>
    <li><b>Login: </b>{{repositoryModel.owner.login}}</li>
    <li><b>Url: </b>{{repositoryModel.url}}</li>
    <li><b>Git url: </b>{{repositoryModel.git_url}}</li>
    <li><b>events_url: </b>{{repositoryModel.events_url}}</li>
    <li><b>ssh url: </b>{{repositoryModel.ssh_url}}</li>
    <li><b>Watchers: </b>{{repositoryModel.watchers}}</li>
    <li><b>Updated at: </b>{{repositoryModel.updated_at}}</li>
    <li><b>node_id: </b>{{repositoryModel.node_id}}</li>
    <li><b>Pushed at: </b>{{repositoryModel.pushed_at}}</li>
  </ul>
</div>

<!--<div>-->
<!--  <table border="1">-->
<!--    <tr>-->
<!--      <td><b>Login:</b>{{userModel.login}}</td>-->
<!--      <td><b>Avatar Url:</b>{{userModel.avatar_url}}</td>-->
<!--      <td><b>Event Url:</b>{{repositoryModel.events_url}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><b>Followers url:</b>{{userModel.followers_url}}</td>-->
<!--      <td><b>Gists url:</b>{{userModel.gists_url}}</td>-->
<!--      <td><b>Gravatar id:</b>{{userModel.gravatar_id}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><b>Html Url:</b>{{userModel.html_url}}</td>-->
<!--      <td><b>Id:</b>{{userModel.id}}</td>-->
<!--      <td><b>Node id:</b>{{userModel.node_id}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><b>Organizations url:</b>{{userModel.organizations_url}}</td>-->
<!--      <td><b>Received events url:</b>{{userModel.received_events_url}}</td>-->
<!--      <td><b>Repos url:</b>{{userModel.repos_url}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><b>Score:</b>{{userModel.score}}</td>-->
<!--      <td><b>Site admin:</b>{{userModel.site_admin}}</td>-->
<!--      <td><b>Starred url:</b>{{userModel.starred_url}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><b>subscriptions_url:</b>{{userModel.subscriptions_url}}</td>-->
<!--      <td><b>Type:</b>{{userModel.type}}</td>-->
<!--      <td><b>Url:</b>{{userModel.url}}</td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
