
<div>
  <ul>
    <li><b>Id: </b>{{repositoryModel.id}}</li>
    <li><b>Name: </b>{{repositoryModel.name}}</li>
<!--    <li><b>Login: </b>{{repositoryModel.owner.login}}</li>-->
    <li><b>Url: </b>{{repositoryModel.url}}</li>
    <li><b>Git url: </b>{{repositoryModel.git_url}}</li>
    <li><b>events_url: </b>{{repositoryModel.events_url}}</li>
    <li><b>ssh url: </b>{{repositoryModel.ssh_url}}</li>
    <li><b>Watchers: </b>{{repositoryModel.watchers}}</li>
    <li><b>Updated at: </b>{{repositoryModel.updated_at}}</li>
    <li><b>node_id: </b>{{repositoryModel.node_id}}</li>
    <li><b>Pushed at: </b>{{repositoryModel.pushed_at}}</li>
  </ul>
</div>
