<div class="body-div">
  <div>
    <label for="countries">Select   Country</label>
    <select name="countries" id="countries" (change)="selectCountry($event)">
      <option value="bangladesh" selected>Bangladesh</option>
      <option value="india">India</option>
      <option value="pakistan">Pakistan</option>
      <option value="usa">USA</option>
    </select>
  </div>
  <br>
  <h4>Top User: {{topUserList.length}}</h4>
  <div>
    <table class="user-table">
      <thead>
      <tr>
        <th >Id</th>
        <th >Name</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of topUserList | paginate: config">
          <td><a [routerLink]="['/top-user-details', item.id]">{{item.id}}</a></td>
          <td><a [routerLink]="['/top-user-details', item.id]">{{item.login}}</a></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>
